################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Task2/obj/Debug
/Task4/obj/Debug
/Task2/bin/Debug
/Task7/bin/Debug
/Task7/obj/Debug
/Exercises8/bin/Debug
